* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

html {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

main {
  flex-grow: 1;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
