.transaction-data {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-around;
  padding: 1em 0;
  border: 1.5px solid #ccc;
}

.transaction-data i {
  position: absolute;
  margin-left: 15px;
}

.transaction-modify {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-column: 1/3;
  padding-left: 5em;
}
